@import "../../styles/variables";

.dialogs {
  &__search {
    padding: 2px 20px 20px 20px;

    .ant-input {
      background-color: #f7f8f9;
      border: 0;
      height: 38px;
      padding: 4px 11px 6px;
    }
  }

  &__item {
    $item: &;
    display: flex;
    margin-bottom: 20px;
    color: $black;

    &:hover {
      background-color: #f3f7ff;
    }

    &--selected,
    &--selected:hover {
      background-color: #1890ff;
      color: #fff !important;
    }

    &-avatar {
      position: relative;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &--online {
      #{$item}-avatar {
        &::before {
          display: block;
          position: absolute;
          bottom: -2px;
          right: 0;
          content: "";
          background-color: #00c980;
          border-radius: 30px;
          width: 13px;
          height: 13px;
          border: 3px solid #fff;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top {
        display: flex;
        b {
          font-weight: 500;
          font-size: 14px;
          flex: 1;
          margin-bottom: 6px;
        }
        span {
          opacity: 0.5;
        }
      }
      &-bottom {
        position: relative;
        p {
          opacity: 0.7;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 220px;
          height: 1.2em;
          white-space: nowrap;
        }
        &-count {
          position: absolute;
          right: 0;
          bottom: 0;
          background: #f46b6b;
          color: #fff;
          font-weight: bold;
          width: 100%;
          min-width: 18px;
          max-width: 22px;
          height: 18px;
          border-radius: 30px;
          font-size: 11px;
          text-align: center;
          line-height: 17px;
          box-shadow: 0 0 0px 3px #fff;
        }
        .message__icon-readed {
          bottom: 0;
          left: auto;
          right: 0;
        }
      }
    }
  }
}