@import "../../styles/variables";

.message {
  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 20px;
    position: relative;

    &:hover {
      #{$self}__icon-actions {
        display: block;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .avatar {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 31px;
    }
  }

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
    margin-left: 10px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    order: 1;
    &-item {
      $item: &;
      margin-right: 5px;
      cursor: pointer;
      position: relative;

      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }

      &:hover {
        #{$item}-overlay {
          opacity: 1;
        }
      }

      .anticon-eye {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      &-overlay {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: opacity 0.15s ease-in-out;
        border-radius: 8px;
      }
    }
  }

  &__icon {
    &-readed {
      position: absolute;
      bottom: 0px;
      left: 30px;

      &--no {
        left: -20px;
      }
    }
    &-actions {
      display: none;
      transform: rotate(90deg);
      position: absolute;
      left: -31px;
      top: -5px;
    }
  }

  &--is-audio {
    audio {
      display: none;
    }
    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
    }
    #{$self}__audio {
      padding: 15px;
      background-color: #3674ff;
      border-radius: 12px 12px 0px 12px;
      width: 250px;
      overflow: hidden;
      position: relative;
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      &-btn {
        button {
          display: flex;
          cursor: pointer;
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;
          img {
            height: 13px;
            position: relative;
            left: 1px;
          }
        }
      }
      &-duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }
      &-progress {
        left: 0;
        top: 0;
        position: absolute;
        background-color: #418fff;
        height: 100%;
        transition: width 0.3s ease;
      }
    }
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    .avatar {
      margin-left: 13px;
      margin-right: 0;
    }

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__info {
      display: flex;
      align-items: center;
      text-align: right;
    }

    #{$self}__date {
      font-size: 12px;
      opacity: 0.5;
      position: absolute;
      bottom: -10px;
      left: 310px;
    }


    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0px 12px;
      order: 2;
      #{$self}__text {
        color: $black;
      }
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
      padding: 15px 18px;
      margin-bottom: 0;
    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-circle;
      display: inline-block;
      margin-right: 8px;
      animation: 0.8s typingAnimation infinite ease-out 0.1s;

      &:nth-of-type(2) {
        animation: 0.8s typingAnimation infinite ease-out 0.2s;
      }
      &:nth-of-type(3) {
        animation: 0.8s typingAnimation infinite ease-out 0.3s;
        margin-right: 0;
      }
    }
  }
}

@keyframes typingAnimation {
  from {
    opacity: 0.2;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  to {
    opacity: 1;
    transform: translateY(-1px);
  }
}


//.message {
//  //display: flex;
//  //width: 440px;
//  //justify-content: center;
//  //align-items: center;
//  $self: &;
//
//  &__content {
//    display: flex;
//    max-width: 440px;
//    margin-bottom: 20px;
//    position: relative;
//
//
//    //&:hover {
//    //  #{$self}__icon-actions {
//    //    display: block;
//    //  }
//    //}
//  }
//
//  &__avatar {
//    display: flex;
//    flex-direction: column-reverse;
//    margin-right: 13px;
//
//    .img {
//      border-radius: 50px;
//      width: 33px;
//      height: 33px;
//      margin-right: 13px;
//      margin-bottom: 5px;
//      font-size: 14px;
//      line-height: 31px;
//    }
//  }
//
//  &__bubble {
//    background: $blue;
//    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
//    border-radius: 12px 12px 12px 0px;
//    padding: 15px;
//    margin-bottom: 8px;
//
//  }
//
//  &__date {
//    font-size: 12px;
//    opacity: 0.5;
//  }
//
//  &__text {
//    color: #fff;
//    line-height: 20px;
//  }
//
//  &__attachments {
//    display: flex;
//    margin-bottom: 5px;
//
//    &-item {
//      margin-right: 5px;
//      cursor: pointer;
//      img {
//        width: 45px;
//        height: 45px;
//      }
//    }
//
//  }
//
//  &__icon-readed {
//    position: absolute;
//    bottom: 20px;
//    left: 20px;
//
//    &--no {
//      left: -25px;
//    }
//  }
//
//  &--is-audio {
//    audio {
//      display: none;
//    }
//    #{$self}__bubble {
//      width: 280px;
//      position: relative;
//      overflow: hidden;
//    }
//    #{$self}__audio {
//      padding: 15px;
//      background-color: #3674ff;
//      border-radius: 12px 12px 0px 12px;
//      width: 250px;
//      overflow: hidden;
//      position: relative;
//      &-info {
//        display: flex;
//        align-items: center;
//        justify-content: space-between;
//        position: relative;
//      }
//      &-btn {
//        button {
//          display: flex;
//          cursor: pointer;
//          border: 0;
//          width: 28px;
//          height: 28px;
//          border-radius: 30px;
//          background: #0f3997;
//          img {
//            height: 13px;
//            position: relative;
//            left: 1px;
//          }
//        }
//      }
//      &-duration {
//        color: #fff;
//        font-weight: 500;
//        opacity: 0.5;
//        font-size: 12px;
//      }
//      &-progress {
//        left: 0;
//        top: 0;
//        position: absolute;
//        background-color: #418fff;
//        height: 100%;
//        transition: width 0.3s ease;
//      }
//    }
//  }
//
//  &--isme {
//    display: flex;
//    flex-direction: row;
//
//
//
//    #{$self}__content {
//      margin-bottom: 15px;
//      flex-direction: row-reverse;
//    }
//
//    #{$self}__avatar {
//      img {
//        margin-right: 0;
//        margin-left: 13px;
//        margin-bottom: 5px;
//      }
//    }
//
//    #{$self}__info {
//     text-align: right;
//    }
//
//    #{$self}__bubble {
//      background-color: #ffffff;
//      border: 1px solid #eeccee;
//      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
//      border-radius: 12px 12px 0px 12px;
//      #{$self}__text {
//        color: $black;
//      }
//    }
//  }
//
//  &__data {
//    font-size: 12px;
//    opacity: 0.5;
//  }
//
//  &--is-typing {
//    #{$self}__bubble {
//      background-color: $message-typing-blue;
//      box-shadow: 0px 5px rgba(54, 116, 225, 0.04);
//      padding: 15px 20px;
//    }
//  }
//
//  &--image {
//    #{$self}__attachments {
//      &-item {
//        width: 150px;
//        height: 150px;
//      }
//    }
//  }
//
//  &__typing {
//
//    span {
//      height: 8px;
//      width: 8px;
//      border-radius: 50%;
//      background: $message-typing-circle;
//      display: block;
//      margin-right: 8px;
//      animation-name: typingAnimation;
//      animation-timing-function: ease-in-out;
//      animation-iteration-count: infinite;
//      animation-duration: 0.5s;
//
//
//      &:nth-of-type(2){
//        animation-duration: 0.6s;
//      }
//      &:nth-of-type(3){
//        animation-duration: 0.7s;
//      }
//    }
//
//  }
//}
//
//@keyframes typingAnimation{
//  from{
//    opacity: 0;
//  }
//  to{
//    opacity: 1;
//  }
//}